img.Graph {
	margin: 0 auto;
	display: block;
}

iframe#RSIFrame {
	BORDER-RIGHT:0px; 
	BORDER-TOP:0px; 
	BORDER-LEFT:0px;
	BORDER-BOTTOM:0px;
	width:100%;
	height: 450px;
}

iframe#RSIFrame {
	BORDER-RIGHT:0px; 
	BORDER-TOP:0px; 
	BORDER-LEFT:0px;
	BORDER-BOTTOM:0px;
	width:100%;
	height: 470px;
}