<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MasterDataWSURL" value="http://frank/SBOWS/MasterData.asmx"/>
    <add key="TransactionWSURL" value="http://frank/SBOWS/Transaction.asmx"/>
    <add key="GetDefaultWSURL" value="http://frank/SBOWS/GetDefault.asmx"/>
    <add key="ReportsWSURL" value="http://frank/SBOWS/Reports.asmx"/>
    <add key="Simulate" value="false"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="dbconnection" connectionString="Server=.;Database=SBOWEB;uid=sa;pwd=sap;" providerName="System.Data.SqlClient"/>
    <add name="LocalSqlServer" connectionString="Server=.;Database=SBOWEB;uid=sa;pwd=sap;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <machineKey validation="SHA1" validationKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4" decryption="Auto" decryptionKey="A1B2C3D4E5F6F6E5D4C3B2A1A1B2C3D4E5F6F6E5D4C3B2A1"/>
    <httpRuntime maxRequestLength="8192"/>
    <!--<sessionState cookieless="AutoDetect" />-->
    <roleManager enabled="true"/>
    <authorization>
      <allow roles="manager"/>
      <allow roles="sale"/>
      <deny users="*"/>
    </authorization>
    <globalization uiCulture="en" culture="en-US" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!--<sessionState timeout="15"/>-->
    <!-- Sitemap Provider -->
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="main/main.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" protection="All" cookieless="UseCookies" path="/"/>
    </authentication>
    <profile enabled="true">
      <properties>
        <add name="Email" type="string"/>
        <add name="Phone" type="string"/>
        <add name="Ref1" type="string"/>
        <add name="Ref2" type="string"/>
        <add name="Ref3" type="string"/>
        <add name="Ref4" type="string"/>
      </properties>
    </profile>
    <membership defaultProvider="AspNetSqlProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"/>
      </providers>
    </membership>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="SAP" assembly="FreeTextBox" namespace="FreeTextBoxControls"/>
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>