html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
    font-size: 12px;
}
img
{
    border: none;
}
.clear
{
    clear: both;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
/*************************/
#header
{
    background: #c4dcfb;
    height: 5%;
}
#splitterContainer
{
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}
#leftPane
{
    float: left;
    width: 15%;
    height: 100%;
    border-top: solid 1px #9cbdff;
    background: #90BADE;
    overflow: auto;
}
#rightPane
{
    /*Contains toolbar and horizontal splitter*/
    float: right;
    width: 85%;
    height: 100%;
    background: #f4f4f4;
}
#rightSplitterContainer
{
    /*horizontal splitter*/
    width: 100%;
    background: #FFFFFF;
    border-top: solid 1px #9cbdff;
}
.splitbarV
{
    float: left;
    width: 6px;
    height: 100%;
    line-height: 0px;
    font-size: 0px;
    border-left: solid 1px #9cbdff;
    border-right: solid 1px #9cbdff;
    background: #cbe1fb url(images/panev.gif) 0% 50%;
}
.splitbarH
{
    height: 6px;
    text-align: left;
    line-height: 0px;
    font-size: 0px;
    border-top: solid 1px #9cbdff;
    border-bottom: solid 1px #9cbdff;
    background: #cbe1fb url(images/paneh.gif) 50% 0%;
}
.splitbuttonV
{
    margin-top: -41px;
    margin-left: -4px;
    top: 50%;
    position: relative;
    height: 83px;
    width: 10px;
    background: transparent url(images/panevc.gif) 10px 50%;
}
.splitbuttonV.invert
{
    margin-left: 0px;
    background: transparent url(images/panevc.gif) 0px 50%;
}
.splitbuttonH
{
    margin-left: -41px;
    left: 50%;
    position: relative;
    height: 10px !important;
    width: 83px;
    background: transparent url(images/panehc.gif) 50% 0px;
}
.splitbuttonH.invert
{
    margin-top: -4px;
    background: transparent url(images/panehc.gif) 50% -10px;
}
.splitbarV.working, .splitbarH.working, .splitbuttonV.working, .splitbuttonH.working
{
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;
}
.ui-accordion
{
    width: 100%;
    overflow: hidden;
}
.menubutton
{
    width: 100%;
    border-right: 1px solid #000;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    font-family: Tahoma, Arial, sans-serif; /*'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;*/
    font-size: 11px;
    background-color: #90bade;
    color: #333;
}

.menubutton ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.menubutton li
{
    border-bottom: 1px solid #90bade;
    margin: 0;
    list-style: none;
    list-style-image: none;
}

.menubutton li a
{
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #1958b7;
    border-right: 10px solid #508fc4;
    background-color: #2175bc;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

html > body .menubutton li a
{
    width: auto;
}

.menubutton li a:hover
{
    border-left: 10px solid #1c64d1;
    border-right: 10px solid #5ba3e0;
    background-color: #2586d7;
    color: #fff;
}

.menubutton li #active
{
    border-left: 10px solid #1c64d1;
    border-right: 10px solid #5ba3e0;
    background-color: #2586d7;
    color: #fff;
}
div#leftPane .ui-accordion .ui-accordion-content
{
    padding: 0;
}
.ui-widget-content
{
    background: #90BADE;
}
/*****menu-action***/
div#menu-action
{
    height: 22px;
    padding: 5px;
    background-color: #95C2F5;
}
div#menu-action ul
{
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}
div#menu-action li
{
    margin: 0;
    list-style: none;
    list-style-image: none;
    display: inline;
}
div#login-logout
{
    float: right;
    padding: 3px;
    font-weight: bold;
}
/******form********/
div#title-form h2
{
    height: 15px;
    font-size: 14px;
    font-weight: bold;
}
/******end form********/

/*data_table*/
table.data_table
{
    padding: 5px;
    margin-top: 5px;
    border: solid 1px #99BBE8;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%; /*background:#d5e7f5 none;*/
}
table.data_table tr td
{
    overflow: hidden;
}
table.data_table th
{
    text-align: center;
    vertical-align: middle;
    height: 25px;
    background: transparent url(images/data_table_header.png) repeat-x scroll 50% 50%;
    color: #15428B;
    border: 1px solid #FFFFFF;
    font-weight: bold;
}
table.data_table th a
{
    color: Olive;
    text-decoration: none;
}
table.data_table tr.altrow
{
    background-color: #dfe8f6;
}
table.data_table tr:hover
{
    background-color: #e7efef;
}
table.data_table td
{
    border: 1px solid #FFFFFF;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
}
table.data_table .border-right
{
    border-right: solid 1px #99BBE8;
    width: 1px;
    height: 100%;
    padding: 0px;
}
table.data_table input
{
    width: 100%;
}
table.data_table .width50
{
    width: 50px;
}
table.data_table .width100
{
    width: 100px;
}
table.data_table .width150
{
    width: 150px;
}
table.data_table .width200
{
    width: 200px;
}
table.data_table .width250
{
    width: 250px;
}
/*data_table*/
/*option_table*/
table.detail_table
{
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}
table.detail_table tr
{
}
table.detail_table td
{
    padding: 0px 2px 0px 2px;
    vertical-align: middle;
    border-bottom: dotted 1px #808080;
}
table.detail_table table td
{
    border-bottom: none;
}
table.detail_table .detail_table_td_50
{
    width: 50px;
}
table.detail_table .detail_table_td_50 span
{
    font: bold 11px/18px "Segoe UI" ,Arial,sans-serif;
    font-weight: bold;
}
table.detail_table .detail_table_td_100
{
    width: 100px;
}
table.detail_table .detail_table_td_100 span
{
    font: bold 11px/18px "Segoe UI" ,Arial,sans-serif;
    font-weight: bold;
}
table.detail_table .detail_table_td_150
{
    width: 150px;
}
table.detail_table .detail_table_td_150 span
{
    font: bold 11px/18px "Segoe UI" ,Arial,sans-serif;
    font-weight: bold;
}
table.detail_table .detail_table_td_200
{
    width: 200px;
}
table.detail_table .detail_table_td_200 span
{
    font: bold 11px/18px "Segoe UI" ,Arial,sans-serif;
    font-weight: bold;
}
table.detail_table .detail_table_td_200
{
    width: 200px;
}
/**/