html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
    font-size: 12px;
}
#header
{
    background: #c4dcfb;
    height: 5%;
}
#splitterContainer
{
    /* Main splitter element */
    height: 95%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#leftPane
{
    float: left;
    width: 15%;
    height: 100%;
    border-top: solid 1px #9cbdff;
    background: #c4dcfb;
    overflow: auto;
}
#rightPane
{
    /*Contains toolbar and horizontal splitter*/
    float: right;
    width: 85%;
    height: 100%;
    background: #f4f4f4;
}
#rightSplitterContainer
{
    /*horizontal splitter*/
    width: 100%;
    background: #FFFFFF;
    border-top: solid 1px #9cbdff;
}
.splitbarV
{
    float: left;
    width: 6px;
    height: 100%;
    line-height: 0px;
    font-size: 0px;
    border-left: solid 1px #9cbdff;
    border-right: solid 1px #9cbdff;
    background: #cbe1fb url(img/panev.gif) 0% 50%;
}
.splitbarH
{
    height: 6px;
    text-align: left;
    line-height: 0px;
    font-size: 0px;
    border-top: solid 1px #9cbdff;
    border-bottom: solid 1px #9cbdff;
    background: #cbe1fb url(img/paneh.gif) 50% 0%;
}
.splitbuttonV
{
    margin-top: -41px;
    margin-left: -4px;
    top: 50%;
    position: relative;
    height: 83px;
    width: 10px;
    background: transparent url(img/panevc.gif) 10px 50%;
}
.splitbuttonV.invert
{
    margin-left: 0px;
    background: transparent url(img/panevc.gif) 0px 50%;
}
.splitbuttonH
{
    margin-left: -41px;
    left: 50%;
    position: relative;
    height: 10px !important;
    width: 83px;
    background: transparent url(img/panehc.gif) 50% 0px;
}
.splitbuttonH.invert
{
    margin-top: -4px;
    background: transparent url(img/panehc.gif) 50% -10px;
}
.splitbarV.working, .splitbarH.working, .splitbuttonV.working, .splitbuttonH.working
{
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;
}

#menu
{
    float: left;
    width: 100%;
    font-size: 93%;
    border-bottom: 2px solid #2763A5;
    line-height: normal;
}
#menu ul
{
    margin: 0;
    padding: 10px 10px 0 0;
    list-style: none;
}
#menu li
{
    display: inline;
    margin: 0;
    padding: 0;
}
#menu a
{
    float: left;
    background: url("img/tableft10.gif") no-repeat left top;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}
#menu a span
{
    float: left;
    display: block;
    background: url("img/tabright10.gif") no-repeat right top;
    padding: 5px 15px 4px 6px;
    color: #FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu a span
{
    float: none;
    font-weight: bold;
}
/* End IE5-Mac hack */
#menu a:hover
{
    background-position: 0% -42px;
}
#menu a:hover span
{
    background-position: 100% -42px;
}

#menu #current a
{
    background-position: 0% -42px;
}
#menu #current a span
{
    background-position: 100% -42px;
}
/*****/

.menubutton
{
    width: 100%;
    border-right: 1px solid #000;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    font-family: Tahoma, Arial, sans-serif; /*'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;*/
    font-size: 11px;
    background-color: #90bade;
    color: #333;
}

.menubutton ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.menubutton li
{
    border-bottom: 1px solid #90bade;
    margin: 0;
    list-style: none;
    list-style-image: none;
}

.menubutton li a
{
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #1958b7;
    border-right: 10px solid #508fc4;
    background-color: #2175bc;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

html > body .menubutton li a
{
    width: auto;
}

.menubutton li a:hover
{
    border-left: 10px solid #1c64d1;
    border-right: 10px solid #5ba3e0;
    background-color: #2586d7;
    color: #fff;
}

.menubutton li #active
{
    border-left: 10px solid #1c64d1;
    border-right: 10px solid #5ba3e0;
    background-color: #2586d7;
    color: #fff;
}
div#leftPane .ui-accordion .ui-accordion-content
{
    padding:0;
}
.ui-widget-content {
background: #90BADE;
}
/*****menu-action***/
div#menu-action
{
    height:25px;
}
div#menu-action ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}
div#menu-action li
{
    margin: 0;
    list-style: none;
    list-style-image: none;
}